@media only screen {

    * {
        margin: 0;
        padding: 0;
    }

    .wrapper {
        overflow: hidden;
        width: 100%;
    }

    .clear {
        clear: both;
        font-size: 0;
        height: 0;
        line-height: 0;
    }

    input, select {
        font-weight: normal;
        vertical-align: middle;
    }

    img {
        border: 0 none;
        text-align: left;
        vertical-align: top;
    }

    ul, ol {
        list-style: none outside none;
    }

    object {
        outline: medium none;
        vertical-align: top;
    }

    a {
        color: #000000;
        outline: medium none;
    }

        a:hover {
            text-decoration: none;
        }

    html {
        min-width: 980px;
    }

    body {
        background: url("images/body-tail.jpg") repeat scroll 50% 0 transparent;
        color: #393939;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 100%;
        line-height: 1em;
    }

    h2 {
        color: #353637;
        font-size: 1.5em;
        font-weight: normal;
        height: 34px;
        line-height: 32px;
        overflow: hidden;
        padding: 0 0 27px;
    }

        h2 img {
            float: left;
            margin: 0 9px 0 0;
        }

        h2.extra {
            padding: 0 0 25px;
        }

        h2.extra1 {
            padding: 0 0 37px;
        }

    .fleft {
        float: left;
    }

    img.fleft {
        margin: 0 30px 30px 0;
    }

    .fright {
        float: right;
    }

    img.fright {
        margin: 0 0 28px;
    }

    .col-1, .col-2, .col-3, .col-4 {
        float: left;
        overflow: hidden;
    }

    .block-1, .block-2, .block-3, .block-4 {
        float: left;
        overflow: hidden;
    }

    #main-tail-ver {
        background: url("images/main-tail-ver.jpg") repeat-y scroll 50% 0 transparent;
    }

    #main-bg-top {
        background: url("images/main-bg-top.jpg") no-repeat scroll 50% 0 transparent;
    }

    #main {
        font-size: 0.75em;
        margin: 0 auto;
        width: 960px;
    }

    #header {
        height: 0px;
        overflow: hidden;
        padding: 180px 0 0 0;
        position: relative;
    }

    #logo {
        left: 34px;
        position: absolute;
        top: 25px;
    }

    .imgUp {
        position: absolute;
        float: right;
        top: 5px;
        -moz-border-radius: 10px 10px 10px 10px;
        background-color: #EEEEEE;
        border: 1px solid #CCCCCC;
        padding: 5px;
    }

    .imgIn img {
        -moz-border-radius: 10px 10px 10px 10px;
        background-color: #EEEEEE;
        border: 1px solid #CCCCCC;
        padding: 5px;
        margin: 10px 15px 5px 0px;
    }

    .imgUp img {
        height: 95px;
        width: 170px;
    }

    #icons {
        position: absolute;
        right: 30px;
        top: 85px;
    }

        #icons li {
            float: left;
            padding: 0 0 0 20px;
        }

    #menu {
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 113px;
    }

        #menu li {
            /*background: url("images/menu-divider.gif") no-repeat scroll 0 17px transparent;*/
            color: #FFFFFF;
            float: left;
            font-size: 1.1em;
            font-weight: bold;
            margin: 0 0 0 -11px;
        }

            #menu li a {
                color: #FFFFFF;
                display: block;
                float: left;
                height: 50px;
                line-height: 46px;
                padding: 0 15px 0 15px;
                text-decoration: none;
                text-align: center;
                vertical-align: central;
            }

                #menu li a:hover {
                    color: #000000;
                }
    /*.row-middle{
    width:90px;
    line-height:24px !important;
}*/
    #head-text {
        left: 328px;
        position: absolute;
        top: 424px;
    }

    #content {
        background: url("images/content.gif") no-repeat scroll 30px 0 transparent;
        padding: 31px 30px 26px;
    }

        #content p {
            color: #000000;
            font-size: 1em;
            line-height: 1.25em;
            padding: 0 0 12px;
        }

            #content p.extra {
                padding: 0 0 15px;
            }

            #content p.extra1 {
                padding: 0 0 29px;
            }

            #content p.extra2 {
                padding: 0 0 3px;
            }

            #content p.extra3 {
                padding: 0 0 20px;
            }

            #content p.extra4 {
                padding: 0 0 17px;
            }

            #content p i {
                color: #1885C9;
                display: block;
                font-style: normal;
                font-weight: normal;
            }

            #content p b {
                color: #1885C9;
                display: block;
                font-weight: normal;
                padding: 27px 0 0;
                text-align: right;
            }

                #content p b.extra {
                    padding: 12px 0 0;
                }

                #content p b a {
                    color: #1885C9;
                    text-decoration: none;
                }

                    #content p b a:hover {
                        text-decoration: underline;
                    }

    .line-ver {
        background: url("images/line-ver.gif") repeat-y scroll 0 0 transparent;
        width: 100%;
    }

    .line-ver-1 {
        background: url("images/line-ver.gif") repeat-y scroll 0 0 transparent;
        width: 100%;
    }

    .list {
        overflow: hidden;
        padding: 0 0 3px;
    }

        .list li {
            color: #000000;
            font-size: 1em;
            overflow: hidden;
            padding: 0 0 7px;
            vertical-align: top;
        }

            .list li a {
                color: #000000;
                text-decoration: none;
            }

                .list li a:hover {
                    text-decoration: underline;
                }

            .list li strong {
                background: url("images/marker.gif") no-repeat scroll 7px 48% #D7D8D9;
                display: block;
                font-weight: normal;
                height: auto !important;
                line-height: 20px;
                min-height: 23px;
                overflow: hidden;
                padding: 0 0 0 19px;
            }

            .list li b {
                background: url("images/marker.gif") no-repeat scroll 7px 48% #E8E9E9;
                display: block;
                font-weight: normal;
                height: auto !important;
                line-height: 20px;
                min-height: 23px;
                overflow: hidden;
                padding: 0 0 0 19px;
            }

    .list-1 {
        overflow: hidden;
        padding: 0 0 14px 2px;
    }

        .list-1 li {
            background: url("images/marker.gif") no-repeat scroll 0 5px transparent;
            color: #000000;
            font-size: 1em;
            line-height: 1.5em;
            padding: 0 0 0 14px;
        }

            .list-1 li a {
                color: #000000;
            }

    .list-2 {
        overflow: hidden;
        padding: 0 35px 18px 0;
    }

        .list-2 dt {
            color: #000000;
            font-size: 1em;
            line-height: 1.25em;
            padding: 0 0 15px;
        }

            .list-2 dt a {
                color: #000000;
            }

        .list-2 dd {
            color: #1885C9;
            font-size: 1em;
            line-height: 1.25em;
            padding: 0 0 25px;
        }

            .list-2 dd a {
                background: url("images/marker.gif") no-repeat scroll 0 2px transparent;
                color: #1885C9;
                padding: 0 0 0 10px;
                text-decoration: none;
            }

                .list-2 dd a:hover {
                    text-decoration: underline;
                }

    .list-3 {
        margin: 0 0 -24px;
        overflow: hidden;
        padding: 13px 0 0;
    }

        .list-3 li {
            color: #000000;
            font-size: 1em;
            line-height: 1.25em;
            overflow: hidden;
            padding: 0 0 24px;
            vertical-align: top;
            width: 100%;
        }

            .list-3 li img {
                float: left;
                margin: 0 23px 0 0;
            }

            .list-3 li strong {
                color: #1885C9;
                display: block;
                font-weight: normal;
                line-height: 1.5em;
                margin: 0 0 -1px;
            }

                .list-3 li strong a {
                    color: #1885C9;
                    text-decoration: none;
                }

                    .list-3 li strong a:hover {
                        text-decoration: underline;
                    }

            .list-3 li b {
                color: #1885C9;
                display: block;
                font-size: 0.917em;
                font-weight: bold;
                padding: 8px 2px 0 0;
                text-align: right;
            }

                .list-3 li b a {
                    color: #1885C9;
                }

    .list-4 {
        margin: 0 0 -11px;
        overflow: hidden;
    }

        .list-4 dt {
            color: #1885C9;
            font-size: 1em;
            line-height: 1.5em;
            padding: 0 0 14px;
        }

            .list-4 dt a {
                background: url("images/marker.gif") no-repeat scroll 0 3px transparent;
                color: #1885C9;
                padding: 0 0 0 10px;
                text-decoration: none;
            }

                .list-4 dt a:hover {
                    text-decoration: underline;
                }

        .list-4 dd {
            color: #000000;
            font-size: 1em;
            line-height: 1.25em;
            padding: 0 35px 27px 0;
        }

            .list-4 dd a {
                color: #000000;
            }

    .list-5 {
        color: #000000;
        font-size: 1em;
        line-height: 1.25em;
        margin: 0 0 -14px;
        overflow: hidden;
    }

        .list-5 dt {
            color: #1885C9;
            line-height: 1.5em;
            margin: 0 0 -1px;
        }

            .list-5 dt a {
                color: #1885C9;
                text-decoration: none;
            }

                .list-5 dt a:hover {
                    text-decoration: underline;
                }

        .list-5 dd {
            padding: 0 0 16px;
        }

    .list-6 {
        margin: 0 0 -6px;
        overflow: hidden;
        padding: 8px 0 0;
    }

        .list-6 dt {
            color: #1885C9;
            font-size: 1em;
            line-height: 1.5em;
            padding: 0 0 17px;
        }

        .list-6 dd {
            line-height: 1.25em;
            overflow: hidden;
            padding: 0 0 16px;
            vertical-align: top;
            width: 100%;
        }

            .list-6 dd small {
                float: right;
                font-size: 1em;
                padding: 0 31% 0 0;
            }

    .portfolio {
        margin: 0 0 -6px -2px;
        overflow: hidden;
        padding: 3px 0 0;
        width: 902px;
    }

        .portfolio li {
            float: left;
            padding: 0 46px 26px 0;
            width: 270px;
        }

            .portfolio li.extra {
                padding: 0;
            }

            .portfolio li img {
                display: block;
                margin: 0 0 11px;
            }

            .portfolio li a {
                background: url("images/marker.gif") no-repeat scroll 0 3px transparent;
                color: #1885C9;
                padding: 0 0 0 10px;
                text-decoration: none;
            }

                .portfolio li a:hover {
                    text-decoration: underline;
                }

    .list-indent {
        padding: 0 0 23px !important;
    }

    .line-hor {
        background: none repeat scroll 0 0 #CCCCCC;
        height: 1px;
        margin: 0 0 30px;
        overflow: hidden;
        width: 100%;
    }

    .link {
        color: #1885C9;
        float: right;
        font-size: 0.917em;
        font-weight: bold;
    }

    .link-indent {
        margin: 0 0 26px;
    }

    .indent-right {
        padding: 0 30px 0 0;
    }

    #contact-form {
        padding: 3px 0 0;
        width: 242px;
    }

        #contact-form label {
            display: block;
            height: 26px;
            width: 100%;
        }

        #contact-form input {
            background: none repeat scroll 0 0 transparent;
            color: #000000;
            float: left;
            font-family: Arial,Helvetica,sans-serif;
            font-size: 1em;
            height: 15px;
            padding: 1px 3px;
            width: 233px;
        }

        #contact-form textarea {
            background: none repeat scroll 0 0 transparent;
            color: #000000;
            float: left;
            font-family: Arial,Helvetica,sans-serif;
            font-size: 1em;
            height: 128px;
            overflow: auto;
            padding: 1px 3px;
            width: 233px;
        }

        #contact-form a {
            color: #1885C9;
            float: right;
            font-size: 0.917em;
            font-weight: bold;
            margin: 13px 0 0 20px;
        }

    .no-indent {
        margin: 0 !important;
        padding: 0 !important;
    }

    #footer {
        /*background: url("images/footer.gif") no-repeat scroll 30px 0 transparent;
    height: 70px;*/
        overflow: hidden;
    }

        #footer p {
            color: #000000;
            line-height: 46px;
            padding: 0 60px 0 0;
            text-align: right;
        }

            #footer p span {
                padding: 0 6px 0 0;
            }

            #footer p a {
                color: #000000;
                margin: 0 0 0 6px;
                text-decoration: none;
            }

                #footer p a:hover {
                    text-decoration: underline;
                }

        #footer .big-box {
            margin-bottom: 13px;
            padding: 7px;
            border: 1px solid #C3C4C5;
            border-bottom-width: 2px;
            border-top: 1px solid #D9DDE5;
            background: #fff;
            border-radius: 8px;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
        }

        #footer ul.logos-credits {
            padding: 0;
            margin: 0px 10px;
            padding-left: 14px;
            height: 80px;
        }

            #footer ul.logos-credits li {
                float: left;
                display: inline;
                list-style-type: none;
                padding: 0px 25px;
                margin: 0;
                margin-left: 11px;
            }

    ol, ul {
        list-style: none;
    }

    .anythingSlider {
        height: 365px;
        margin-left: 155px;
        padding-top: 9px;
        position: relative;
        width: 791px;
    }

        .anythingSlider .wrapper {
            height: 365px;
            left: 0;
            position: absolute;
            top: 0;
            width: 791px;
        }

            .anythingSlider .wrapper ul {
                left: 0;
                list-style: none outside none;
                margin: 0;
                position: absolute;
                top: 0;
                width: 9999px;
            }

        .anythingSlider ul li {
            display: block;
            float: left;
            height: 365px;
            padding: 0;
            position: relative;
            width: 791px;
        }

            .anythingSlider ul li img.slide {
                float: left;
            }

        .anythingSlider dl {
            bottom: 0;
            color: #7E8C9A;
            float: left;
            line-height: 17px;
            position: absolute;
            right: 0;
            width: 141px;
        }

            .anythingSlider dl dt {
                color: #FF0000;
                font-size: 1.17em;
                font-weight: bold;
                margin-bottom: 8px;
            }

        .anythingSlider .arrow {
            background: url("images/buttons.png") no-repeat scroll left top transparent;
            cursor: pointer;
            display: block;
            height: 80px;
            margin: 0;
            position: absolute;
            text-indent: -9999px;
            top: 146px;
            width: 53px;
        }

        .anythingSlider .forward {
            background-position: 0 0;
            right: 0;
        }

        .anythingSlider .back {
            background-position: -53px 0;
            left: -155px;
        }

        .anythingSlider .forward:hover {
            background-position: 0 -80px;
        }

        .anythingSlider .back:hover {
            background-position: -53px -80px;
        }

    #start-stop {
        display: none;
    }

    .anythingSlider h2 {
        border-bottom: medium none;
        font-size: 25px;
        letter-spacing: -1px;
        margin-bottom: 0;
        overflow: hidden;
        width: 636px;
    }

        .anythingSlider h2 a {
            float: right;
            font-family: Arial,Helvetica,sans-serif;
            font-size: 12px;
            font-weight: normal;
            letter-spacing: normal;
        }

    #img {
        height: 380px;
        left: 30px;
        position: absolute;
        top: 193px;
        width: 500px;
    }

    #gallery {
        height: 100px;
        width: 902px;
    }

        #gallery li {
            cursor: pointer;
            display: inline;
            float: left;
            margin: 0 20px 0 10px;
            position: relative;
        }

            #gallery li span {
                background: url("images/border.png") no-repeat scroll 0 0 transparent;
                display: none;
                height: 100px;
                left: 0;
                overflow: hidden;
                position: absolute;
                top: 0;
                width: 236px;
            }

            #gallery li:hover span {
                display: block;
            }

    .jcarousel-container {
        padding: 0 86px;
        position: relative;
    }

    .jcarousel-clip {
        overflow: hidden;
        width: 778px;
    }

    .jcarousel-prev {
        background: url("images/prev.jpg") no-repeat scroll 0 0 transparent;
        cursor: pointer;
        height: 55px;
        left: 29px;
        position: absolute;
        top: 23px;
        width: 55px;
        z-index: 1000;
    }

        .jcarousel-prev:hover {
            background: url("images/prev.jpg") no-repeat scroll 0 100% transparent;
        }

    .jcarousel-next {
        background: url("images/next.jpg") no-repeat scroll 0 0 transparent;
        cursor: pointer;
        height: 55px;
        position: absolute;
        right: 29px;
        top: 23px;
        width: 55px;
        z-index: 1000;
    }

        .jcarousel-next:hover {
            background: url("images/next.jpg") no-repeat scroll 0 100% transparent;
        }

    .jcarousel-clip {
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        z-index: 2;
    }

    .jcarousel-list {
        left: 0;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        top: 0;
        z-index: 1;
    }

        .jcarousel-list li, .jcarousel-item {
            float: left;
            height: 100px;
            list-style: none outside none;
            width: 236px;
        }

    .jcarousel-next {
        display: none;
        z-index: 3;
    }

    .jcarousel-prev {
        display: none;
        z-index: 3;
    }

    #serviceul {
        padding-left: 50px;
    }

        #serviceul li {
            padding-bottom: 15px;
        }

            #serviceul li img {
                padding-top: 6px;
            }

    .tbQuatations {
        text-align: left;
        border-collapse: collapse;
    }

        .tbQuatations .tablehead {
            color: #FFFFFF;
            background-color: #1c4694;
        }

        .tbQuatations .contactName {
            color: #FFFFFF;
            background-color: #3f70b7;
        }

        .tbQuatations td {
            padding: 4px;
        }

    #sendEmail {
        position: absolute;
        right: 150px;
        top: 65px;
        color: Blue;
        font-size: 14px;
    }

    .submitbutton {
        height: 25px;
        width: 80px;
        background-color: #29bcfc;
        color: #ffffff;
        font-size: 11px;
        font-weight: bold;
    }
	[type="checkbox"], label {
	  display: none;
	}
	
}
